*{
    margin: 0;
    padding: 0;
    font-family: montserrat, poppins, open-sans;
}
.navbar{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}
.navbar ul li{
    display: inline-flex;
    padding: 16px;   
}

.navbar ul li:hover{
    opacity: 50%;
    transition: .2s;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;   
}
h1{
    text-align: center;
    padding: 16px;
    color: blueviolet;
}
h2{
    text-align: center;
    padding: 16px;
    color: blueviolet;
}
h3{
    text-align: center;
    padding: 16px;
    color: blueviolet;
}
.frame-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.frame-container iframe{
    opacity: 100%;
    margin: 16px;
    background-color: blueviolet;
    box-shadow: 0 0 10px 0 blueviolet;
}
#table{
    border: 1px solid  white;
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}
#table tr td{
    border: .5px solid white;
    text-align: center;
    padding: 5px;
}
#table tr th{
      border: 1px solid white;
      text-align: center;
      color: white;
      background-color: blueviolet;
      padding: 10px;
}
tr:nth-child(even){
    background-color: rgb(230, 230, 230);
}
#table tr:hover{
    background-color: grey;
    cursor: pointer;
    transition: .2s ease-in;
}