    *{
        margin: 0;
        padding: 0;
        font-family: montserrat, poppins, sans-serif;
    }
    .heading{
        margin-top: 40px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: rgb(70, 70, 70);
    }
    .heading span{
        color: #44813E;
    }
    .product-warper{
        width: 90%;
        margin: auto;

    }
    .des{
        margin-top: 5%;
        color: grey;
        width: 75%;
        font-size: 16px;
        text-transform: none;
        font-weight: 400;
        text-align: center;
    }
    .product-listing{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .product-single{
        display: inline-block;
        text-align: center;
        border-radius: 16px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 20px rgb(209, 209, 209);
        padding: 5%;
        width: 70%;
        margin-top: 15%;
    }
    .product-single:hover{
        box-shadow: 0 0 20px rgb(116, 114, 114);
        transform: scale(1.05);
        transition: .2s;
    }
    .product-discount {
        background-color: #92C24C;
        float: left;
        padding: 15px;
        font-weight: 700;
        position: absolute;
        border-radius: 6%;
        color: white;
    }
    .product-img{
        margin-top: 10%;
        width: 80%;
        border-radius: 16px;
    }
    .product-name{
        font-weight: 700;
        padding: 5%;
        display: inline-flex;
        color: rgb(70, 70, 70);
        font-size: 20px;
    }
    .product-price{
        color: rgb(70, 70, 70);
        font-size: 14px;
        margin-bottom: 5%;
        font-weight: 700;
        font-size: 18px;
    }
    .product-price span{
        text-decoration: line-through;
        color: grey;
        font-weight: 400;
        font-size: 14px;
        display: inline-block;
    }
    .product-quantity{
        color: rgb(70, 70, 70);
        font-weight: 500;

    }
    .product-quantity span input{
        width: 15%;
        font-weight: 700;
    }
    .product-add-to-cart{
        margin-top: 8% ;
        background-color: #92C24C;
        padding: 24px;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .product-add-to-cart a{
        text-decoration: none;
        color: white;
    }

    .product-add-to-cart:hover{
        background-color: #44813E;
    }
    .end{
        width: 75%;
    }
    .end {
        color: gray;
        margin-bottom: 50px;
    }
    h3{
        text-transform: uppercase;
        color: #44813E;
        margin-bottom: 8px;
    }